


#bingotable{
  margin:20px auto 0;
  text-align: center;
  width: 250px;
  height:250px;
  border-collapse: collapse;
  background: white;
}


th, td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
}

.orange {
  background: #9b59b6;
}

#content{
	margin:20px auto 0;
}


.dot{
	/*height:1%;
	padding:10px 11px;
	margin:0 auto;
	background-color:red;
	border-radius:15px;
	border:1px solid #a1a1a1;*/
	text-align:center;
	height:25px;
	width:25px;
	content:close-quote;
	background-color:white;
	border-radius:50%;
	display:inline-table;
	}
	
	
	
	.circle 
	{
	
		display:block;
		width: 100px;
		height: 100px;
		margin: 20px auto 0;
		/*background-color: #3b4ba3;*/
		background-color:#9B59B6;
		border-radius: 50%;
		box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
		background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
		background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%); 
		background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
		background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
		font-size:70px;
		text-align: center;	
		font:white;
	}
	.win{
		font-size:50px;
	    margin:20px auto 0;	
	    text-align: center;
		
	}
